fastapi
uvicorn
pandas
numpy
scikit-learn
xgboost
joblib
pymongo
python-multipart
python-dotenv
dnspython
openpyxl
pytesseract
pdfplumber
pdf2image
pillow
opencv-python
matplotlib
seaborn
scipy
statsmodels
passlib
bcrypt
python-jose
requests
httpx
web3
eth-account
